body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .titulo h1 {
    margin: 0;
}

nav button {
    background-color: white;
    color: #007BFF;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

nav button:hover {
    background-color: #0056b3;
    color: white;
}

main {
    padding: 20px;
}

.produtos ul {
    list-style-type: none;
    padding: 0;
}

.produtos li {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}
